.bar-and-marker,
.progress-bar-custom {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.bar-and-marker {
  height: 16px;
}

.progress-bar-custom {
  height: 8px;
  top: 39%;
}

.vert-sep {
  position: absolute;
  width: 10px;
  height: 20px;
  background: white;
  z-index: 20;
  top: 0px;
}

.vert-sep-left {
  left: 95px;
}

.vert-sep-right {
  left: 205px;
}

.bar-and-marker .bar,
.progress-bar-custom .bar {
  background: #ebebeb;
  position: absolute;
  width: 100%;
}

.bar-and-marker .bar {
  height: 50%;
}
.progress-bar-custom .bar {
  height: 100%;
}

.bar-and-marker .marker {
  position: absolute;
  font-size: 90%;
  top: -2px;
}

.stars {
  height: 22px;
  overflow: hidden;
  width: 58px;
  position: relative;
  font-size: 13px;
}
.full-stars,
.empty-stars,
.bar-full {
  position: absolute;
  overflow: hidden;
}

.progress-bar-custom .bar-full {
  background: #808080;
  z-index: 2;
}
